h2 a {
    color:darkred;
    text-decoration: none; 
    font-size:32px;
}
li a {
    color:darkviolet;
    font-size:medium;
    text-decoration:none;
    font-weight:bold;
}
.link_google {
    color:rgb(76, 0, 255);
    font-weight:bold;
}
.prueba_utn {
    color:rgb(0, 24, 130);
    font-size:25px;
    font-style:oblique;
}