body {
    font-family:arial;
}
h1 {
    color:#FE2E9A;
    text-align:center;
    }
h2 {
    color:#CC2EFA;
    }   
p span {
    color:#31B404;
        }
.naranja {
    color:#FF4000;
}
p a {
    color:#F7BE81;
}
